@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Exa&family=Outfit:wght@400;700&display=swap');

h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 64px;
    font-weight: bold;
}

h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 48px;
    font-weight: bold;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}


/* Homepage */
/* Hero Image */
.home-hero {
    background-image: url("../assets/homehero.jpg");
    background-size: cover;
    height: 529px;
    color: white;
}

.home-hero-title {
    padding-top: 92px;
    margin-left: 150px;
}

.home-hero-text {
    padding-top: 50px;
    margin-left: 150px;
    max-width: 803px;
}

/* Services */
.services {
    min-height: 850px;
    /* max-width: 1528px; */
    max-width: 79.6%;
}

.services-title {
    color: #134186;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.services-btn {
    height: 74px;
    width: 188px;
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: bold;
    background-color: #3451E4;
}

.services-icon {
    height: 121px;
    width: 121px;
}

.services-p {
    padding-top: 50px;
    padding-bottom: 50px;
}

.services-row {
    --bs-gutter-x: 107px;
}

.services-btn-row {
    padding-bottom: 90px;
}

/* Testimonials */
.testimonials {
    min-height: 890px;
    background-color: #333A54;
}

.testimonials-box {
    max-width: 79.6%;
}

.testimonials-title {
    color: white;
    text-align: center;
    padding-top: 90px;
    margin-bottom: -15px;
}

.testimonials-pic {
    height: 179px;
    width: 179px;
    position: relative;
    top: 100px;
}

.testimonials-p {
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding-left: 27px;
    padding-right: 27px;
}

.testimonial-stars {
    color: #FFB800;
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.testimonials-name {
    color: white;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
    padding-top: 5px;
}

.testimonials-site {
    color: white;
    text-align: center;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 16px;
    padding-bottom: 45px;
}

.testimonials-card {
    background-color: #5b6b7b;
    border-radius: 15px;
    max-width: 394px;
    padding-top: 100px;
    margin-bottom: 90px;
}

.testimonials-row {
    --bs-gutter-x: 150px;
}

.fa-star {
    padding-left: 6px;
    padding-right: 6px;
}

/* Clients */
.clients {
    min-height: 763px;
    max-width: 79.6%;
}

.clients-title {
    color: #134186;
    text-align: center;
    padding-top: 90px;
}

.clients-img {
    width: 95%;
}

.clients-col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}

.jitaro-img {
    width: 70%;
}

.clients-bottom-row {
    padding-bottom: 130px;
}


/* Lettering Page */
/* Window */

.lettering-subtitle {
    color: #3451E4;
    text-align: center;
}

.lettering-img {
    width: 662px;
    height: 462px;

}

.lettering-cont {
    width: 77.2%;
}

.lett-row {
    --bs-gutter-x: 170px;
    padding-top: 121px;
    padding-bottom: 121px;
}

.lett-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Showcase */
.show-cont {
    background-color: #333A54;
    min-height: 576px;
}

.show-inner-cont {
    max-width: 77%;
}

.lett-title {
    color: white;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
}

.show-img {
    max-width: 100%;
}

.show-subtitle {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
}

.show-col {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.show-row {
    --bs-gutter-x: 200px;
    padding-bottom: 75px;
}

/* Cars */

.break {
    flex-basis: 100%;
    height: 0;
}

.cars-row {
    --bs-gutter-x: 50px;
}

.cars-inner-cont {
    max-width: 90%;
}