@import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@400;700&display=swap');

h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 64px;
    font-weight: bold;
}

h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 48px;
    font-weight: bold;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}






/* Jovann Css */

.locationCont{
    padding: 0%;
    overflow: none;
}

.navBg{
    background-color: #354DBB;
}

.navbar-collapse{
    justify-content: end;
    display: flex;
}

.storeHoursTxt{
    margin-left: 25rem;
}