@import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@400;700&display=swap');

h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 64px;
    font-weight: bold;
}

h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 48px;
    
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}






/* Jovann Css */

.locationCont{
    padding: 0%;
    overflow: none;
    width: 100%;
    margin: 0;
    
}

.navCol{
    padding-right: 0;
}

.navBg{
    background-color: #354DBB;
}

.navbar-collapse{
    justify-content: end;
    display: flex;
}

.storeHoursTxt{

}

.storeTxtColor{
    color: #354DBB;
    margin-left: 25rem;
}

.storeRow{
    margin-top: 15rem;
}

.bgBox{
    background-color:#F4F6FB ;
    width: 40rem;
    height: 25rem;
    margin-left: 15rem;
}
.hrTxt{
  font-size: 23px;

}
.dayCol{
    margin-top: 2rem;
}

.hrTxtCol{
    margin-left: 19rem;
    margin-top: 2rem;
}

.dayTxt{
    margin-left: 1rem;
    font-size: 23px;
}


.bigRow2{
    flex-wrap: nowrap;
}

.mapThing{
    justify-content: center;
    display: flex;
}
.mapCol{
    margin-left: 8rem;
}

.addressTxt{
    width: 24rem; 
    float: left;
    font-size: 24px;
    margin-left: 3rem;
}
.stockTxt{
    width:18rem;
    float: left;
    font-size: 24px;
    text-align: center;
}

.stocktonAdTxt{
    margin-left: 3rem;
}
.numTxt{
    width:18rem;
    float: right;
    font-size: 24px;
}

.modalBtn{
    width:18rem;
    float: right;
}